{% extends "admin/base_admin.html" %}
{% block title %}Eliminar Parada{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>¿Seguro que quieres eliminar esta parada?</h2>
    <p><strong>{{ object.nombre_parada }}</strong> - {{ object.descripcion_parada }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'admin-paradas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
