# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/


# VSCode
.vscode/

# Pytest / Coverage
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pycharm
.idea/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup files
*.bak
*.swp
*~

# dotenv
.env
.env.*

# pip-tools
*.txt~

# Docker
*.pid
*.seed
celerybeat-schedule
